<div class="container">
  <div class="main-container">
    <div class="address">
      <h2>Où nous trouver ?</h2>
      <p>39bis rue de notre Dame de bon secours</p>
      <p>60200 Compiègne</p>

      <div>
        <%# <i class="fa-solid fa-phone"></i> %>
        <%# <p>06 65 62 79 39</p>
        <p>06 64 53 79 31</p> %>
      </div>
    </div>
    <div id='map' data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>" style='width: 600px; height: 500px;'>

    </div>
  </div>
</div>

<div class="container">
  <div class="main-container2">
    <div class="dessin">
      <%= image_tag "moongi_dessin.png", width: "330px", class: "logo2" %>
    </div>
    <div class="contact">
      <div class="contact-us">
        <h2>Nous contacter:</h2>
      </div>
      <%= simple_form_for(@message) do |f| %>
      <div class="form_name">
        <%= f.input :first_name, label: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom' %>
      </div>
      <%= f.input :mail, label: 'Email' %>
      <%= f.input :object, label: 'Objet' %>
      <%= f.input :text, label: 'Message' %>
      <%= invisible_captcha %>
      <div class="envoi">
        <%= f.submit "Envoyez" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
