<div class="container">
  <div class="main-container">
    <div class="address">
      <h1>Où nous trouver ?</h1>
      <p>39bis rue de notre Dame de bon secours</p>
      <p>60200 Compiègne</p>

      <div>
        <%# <i class="fa-solid fa-phone"></i> %>
        <p>06 65 62 79 39</p>
        <p>06 64 53 79 31</p>
      </div>
    </div>
    <div id='map' style='width: 600px; height: 500px;'>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2xhcmFiYXN1eWF1IiwiYSI6ImNsOXNidjMzYjEwbXczb3A1eGt0cm50NW0ifQ.fl1cYGFu_erpV2LhBlNKQQ';
        const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v9',
          center: [2.81635, 49.41294],
          zoom: 13
        });
        const marker1 = new mapboxgl.Marker({ color: 'black'})
          .setLngLat([2.81635, 49.41294])
          .addTo(map);
      </script>
    </div>
  </div>
</div>

<div class="container">
  <div class="main-container2">
    <div class="dessin">
      <%= image_tag "moongi_dessin.png", width: "330px", class: "logo2" %>
    </div>
    <div class="contact">
      <div class="contact-us">
        <h1>Nous contacter:</h1>
      </div>
      <%= simple_form_for(@message) do |f| %>
      <%= f.input :first_name, label: 'Prénom' %>
      <%= f.input :last_name, label: 'Nom' %>
      <%= f.input :mail, label: 'Email' %>
      <%= f.input :object, label: 'Objet' %>
      <%= f.input :text, label: 'Message' %>
      <div class="envoi">
        <%= f.submit "Envoyez" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
