<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new message from <%= @message.first_name %>!</p>
    <p>
    message details<br>
    --------------------------
    </p>
    <p>First Name: <%= @message.first_name %></p>
    <p>Last Name: <%= @message.last_name %></p>
    <p>Email: <%= @message.mail %></p>
    <p>Object: <%= @message.object %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @message.text %></p>
  </body>
</html>
